body {
  @apply bg-stone-900;
}

.header {
  @apply py-0 px-8;
  height: 100px;
}

.container {
  width: 100%;
  max-width: 1440px;
  display: block;

  @media (min-width: 1440px) {
    margin-left: calc((100% - 1440px) * 0.3);
  }

  @media (max-width: 1439.98px) {
    padding: 0 20px;
  }
}

.loaderContainer {
  width: fit-content;
  margin: 20px auto;
}
