.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.message {
  color: rgb(128, 41, 41);
  font-size: 36px;
}

.link {
  color: rgb(14, 85, 20);
  font-size: 20px;
}
