.cardList {
  @apply flex justify-center gap-3 flex-wrap mx-auto mt-4 px-6;
  max-width: 1440px;
}

.message {
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
}
